<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <p class="navbar-brand fw-bold fs-4" href="#"><img src="img/Logo1.png" id="logo" alt="logo">Mi Portfolio</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-5" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Sobre Mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-5" routerLink="/projects" routerLinkActive="active">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-5" routerLink="/skills" routerLinkActive="active">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-5" routerLink="/contact" routerLinkActive="active">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>